
<div id="popup-modal" tabindex="-1" class="top-0 right-0 left-0 h-[calc(100%-1rem)] fixed z-50 hidden max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0">
    <div class="p-4 relative max-h-full w-full max-w-lg">
        <div class="bg-white relative rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="top-3 end-2.5 text-gray-400 bg-transparent w-8 h-8 absolute ms-auto inline-flex items-center justify-center rounded-lg text-sm hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 text-left md:p-5">
                <h3 class="text-gray-400 text-2xl uppercase"> Add your story</h3>
                <form class="mt-5">
                    <div class="flex w-full items-center justify-center">
                        <label for="dropzone-file" class="h-64 border-gray-300 bg-gray-50 flex w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed hover:bg-gray-100 dark:bg-gray-700 dark:border-gray-600 dark:hover:bg-gray-800 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="pt-5 pb-6 flex flex-col items-center justify-center">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-gray-500 text-sm dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-gray-500 text-xs dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                            <input id="dropzone-file" type="file" class="hidden" name="stroy_board" />
                        </label>
                    </div>

                <p class="text-red-500 mt-5 text-sm capitalize">your status will be view 24 hours</p>
                <div class="submite-story text-right">
                    <button type="submit" class="bg-blue-600 text-white py-2 px-4 shadown-md rounded-md text-center text-sm">
                        Create your story
                    </button>
                </div>
                </form>

            
            
            </div>
        </div>
    </div>
</div>