<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social Media Application</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/socialMediaApplication.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
          integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
    

</head>
<body>

    @* Header Top Bar *@
    <partial name="short_codes/_header.cshtml" ></partial>
     <main class="main-body-class gap-3 flex">
        @* Left Side bar *@
        <div class="" style="width:15%">
        <partial name="short_codes/_left_side_bar.cshtml"></partial>
        </div>

        @* Main Content of the page *@
        <div id="wrapper" class="main-wrapper bg-gray-100 " style="width:60%">
                @RenderBody()
            @*pop up section for stories*@

           
        </div>

        @* Right Side bar *@
        <div class="" style="width:25%">
            <partial name="short_codes/people_you_may_know.cshtml"></partial>
            <partial name="short_codes/people_you_may_know.cshtml"></partial>
        </div>
     </main>

    <partial name="popups/_Create_story.cshtml"></partial>
    <partial name="popups/_what_is_in_your_mind.cshtml"></partial>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

    @* Script assets from the assets folder *@
    <script src="~/assets/js/uikit.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/script.js" asp-append-version="true"></script>
    <script src="~/assets/js/simplebar.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
